@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1d224e;
  --secondary: #28588f;
  --tertiary: #c8daef;
  --bg-body: #f3f6fc;
  --gold: #e29600;
  --white: #fff;
  --error: #ae0d06;
  --black: #000;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/inter/Inter-VariableFont_opsz\,wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .nav-item {
    position: relative;
    transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
  }

  .nav-item:hover {
    color: var(--gold);
  }

  .nav-item::after {
    content: "";
    background-color: var(--gold);
    width: 40%;
    height: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
  }

  .nav-item:hover::after {
    width: 100%;
    color: var(--gold);
  }
}

.swiper-button-next,
.swiper-button-prev {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 50%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
}

.swiper-button-next:after,
.swiper-button-prev::after {
  font-size: 20px;
}

body {
  --sb-track-color: #f3f6fc;
  --sb-thumb-color: #1d224e;
  --sb-size: 12px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--bg-body);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 1px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-body);
}


::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 1px;
}

.scroll_firefox {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--bg-body);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--primary) var(--bg-body);
  }
}

.thumbs-swiper .swiper-slide {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

/* Menu */

@layer utilities {
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-200%) translateX(200%);
    }
    50% {
      transform: translateY(-100%) translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%) translateX(0%);
    }
  }

  @keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateY(0%) translateX(0%);
    }
    50% {
      transform: translateY(-100%) translateX(-100%);
      -webkit-transform: translateY(-100%) translateX(-100%);
      -moz-transform: translateY(-100%) translateX(-100%);
      -ms-transform: translateY(-100%) translateX(-100%);
      -o-transform: translateY(-100%) translateX(-100%);
}
    100% {
      opacity: 0;
      transform: translateY(-200%) translateX(-200%);
      -webkit-transform: translateY(-200%) translateX(-200%);
      -moz-transform: translateY(-200%) translateX(-200%);
      -ms-transform: translateY(-200%) translateX(-200%);
      -o-transform: translateY(-200%) translateX(-200%);
}
  }

  .animate-slideIn {
    animation: slideIn 1s ease-in-out forwards;
    -webkit-animation: slideIn 1s ease-in-out forwards;
}

  .animate-slideOut {
    animation: slideOut 1s ease-in-out forwards;
    -webkit-animation: slideOut 1s ease-in-out forwards;
}
}
